.box{
	width:300px;
	height:100px;
	background-color:#ffff00;
	border-radius: 25px;
    box-align:center;
    bleed:40px 0 30px 0;
	}
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto }

#box{
	width:300px;
	height:100px;
	background-color:#ffff00;
	border-radius: 25px;
    box-align:center;
    bleed:40px 0 30px 0;
	}